$page-background-color: grey;
$main-theme-color-green: #1fc69d;
$main-theme-color-green-lighter: #5cd0ad;
$main-theme-color-purple: #7652c3;
$main-theme-color-purple-lighter: #9b7cd4;
$background-dual-pink-color: #dfcfe7;
