body .Main-Body {
  background-color: grey; }

body .container .div-Contentstarting {
  margin-left: 0; }

body .container .btn-labeled {
  padding: 0; }
  body .container .btn-labeled .btn-label {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px; }

body .container #btn-add-reminder {
  max-width: 29.333333%; }
  body .container #btn-add-reminder .btn-label {
    left: -83px; }

body .container .btn {
  margin-bottom: 10px; }

body .container .div-reminder-list .list-group-item {
  cursor: pointer;
  margin-bottom: 1px;
  height: 69px; }
  body .container .div-reminder-list .list-group-item .btn-reminder-close {
    margin-top: -17px;
    margin-left: 10px; }

body .container .div-timer-clock-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 1.4rem;
  font-weight: inherit;
  background-color: #1fc69d;
  max-width: 100%;
  height: 165px;
  width: 100vw; }
  body .container .div-timer-clock-header .clock-input {
    clear: both;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto 10px; }
  body .container .div-timer-clock-header input#time-to {
    padding: 5px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    font-family: monospace;
    text-align: center;
    color: #010101;
    background-color: #fff; }
  body .container .div-timer-clock-header .done {
    color: #fff;
    font-weight: 600; }
  body .container .div-timer-clock-header .div-timer-clock-body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 20rem;*/
    /* width: 60rem;*/
    background-color: transparent;
    border-radius: 3px;
    box-shadow: none;
    margin-top: 42px; }
    body .container .div-timer-clock-header .div-timer-clock-body .clock-column:last-child {
      margin-right: 0; }
    body .container .div-timer-clock-header .div-timer-clock-body .clock-column {
      margin-right: 4rem;
      text-align: center;
      position: relative; }
      body .container .div-timer-clock-header .div-timer-clock-body .clock-column .clock-timer {
        color: #131313;
        font-size: 36px;
        line-height: 1; }
      body .container .div-timer-clock-header .div-timer-clock-body .clock-column .clock-label {
        padding-top: 10px;
        text-transform: uppercase;
        color: #131313;
        font-size: 14px;
        text-align: center;
        border-top: 1px solid rgba(19, 19, 19, 0.5); }
      body .container .div-timer-clock-header .div-timer-clock-body .clock-column::after {
        content: ':';
        display: block;
        height: .25rem;
        width: .25rem;
        font-size: 36px;
        font-weight: 200;
        color: #131313;
        position: absolute;
        top: -11px;
        right: -35px; }
      body .container .div-timer-clock-header .div-timer-clock-body .clock-column:last-child::after {
        display: none; }
