@using CountdownTimer.Models;
@model TimerPageViewModel;
@{
}
<div class="Main-Body">
    <h1>CountDown Timer</h1>
    <div class="">
        <button type="button" class="btn btn-primary">Primary</button>

    </div>
</div>
