@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Section: Contact v.2-->
<div class="container">
 <div>
     <div>
         @*<img src="../Templates/leftpic.svg" alt="hhh" />*@
         <object data="C:/PluralSight/Countdown Timer/CountdownTimer/CountdownTimer/Templates/leftpic.svg" type="image/svg+xml" width="500" height="500"> </object>
         <img src="C:\PluralSight\Countdown Timer\CountdownTimer\CountdownTimer\Templates\leftpic.svg" />
         <img src="//cdn2.hubspot.net/hubfs/53/tools/Multi%20Step%20Form/offer-left.svg" alt="" style="width:15%;">@*working pic*@
         @*<svg width="200" height="200"
              xmlns="http://www.w3.org/2000/svg">
             <image href="C:\PluralSight\Countdown Timer\CountdownTimer\CountdownTimer\Templates\leftpic.svg" height="200" width="200" />
         </svg>*@
     </div>
 </div>
</div>